<div id="main-content" class="inputs col-lg-8 mt-3">

  <div  class="card">
      <div  class="card-header bg-dark text-warning">
          <h5>
              Lab Activity
          </h5>
      </div>

      <div class="card-body">
          <form class="form" #userForm="ngForm" (submit)="addUser()">
              <div class="form-group mt-3">
                <label>Name</label>

                <input class="form-control" #username="ngModel" type="text" [(ngModel)]="userName" name="userName" required [class.invalid]="username.invalid && username.touched" [class.valid]="username.valid && username.touched">

                <span *ngIf="username.touched && username.invalid" class="al col-lg-12 text-center alert-danger border text-danger" role="alert">
                  <strong>Name field required</strong>
                </span>


              </div>

              <div class="form-group">
                <label>Age</label>
                <input class="form-control" type="number" #userage="ngModel" [(ngModel)]="userAge" name="userAge" required [class.invalid]="userage.invalid && userage.touched"studage [class.valid]="userage.valid && userage.touched">

                <span *ngIf="userage.touched && userage.invalid" class="al col-lg-12 text-center alert-danger border text-danger" role="alert">
                      <strong>Age field required</strong>
                </span>

              </div>

              <input type="submit" class="btn btn-sm btn-success form-control" value="SUBMIT">
          </form>

          <div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog " role="document">
                <div class="modal-content">
                  <div class="modal-header bg-dark text-light">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update User Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="row container col-lg-12 ">

                      <form (submit)="updateUser(userID)"  #updateForm="ngForm" class="form col-lg-12 row  ml-2 p-1 float-right">

                        <div class="form-group col-lg-12 p-4 float-left">
                          <label>Name</label>
                          <input class="form-control" type="text" #newName="ngModel" [(ngModel)]="updateUserName" name="updateUserName" required [class.invalid]="newName.invalid && newName.touched" [class.valid]="newName.valid && newName.touched">
                          <span *ngIf="newName.touched && newName.invalid" class="al col-lg-12 text-center alert-danger border text-danger" role="alert"><strong>Name field required</strong></span>
                        </div>

                        <div class="form-group col-lg-12 p-4 float-right">
                          <label>Age</label>

                          <input class="form-control" type="number" #newAge="ngModel" [(ngModel)]="updateUserAge" name="updateUserAge" required required [class.invalid]="newAge.invalid && newAge.touched" [class.valid]="newAge.valid && newAge.touched"newAge>
                          <span *ngIf="newAge.touched && newAge.invalid" class="al col-lg-12 text-center alert-danger border text-danger" role="alert"><strong>Age field required</strong></span>
                        </div>

                        <div class="form-group col-lg-12 p-4 float-right">
                            <button type="submit" class="btn form-control btn-primary mt-3" >Save</button>
                        </div>


                      </form>

                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="card-footer">

      </div>

  </div>

</div>

<div id="main-content" class="data-table card mt-2">
    <div class="card-header bg-dark text-warning">
        <h4>Data Table</h4>
    </div>

    <div class="">


        <table class="table table-striped table-light table-sm">

            <thead class="thead-dark">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="font-weight-bold">No.</th>
              <th class="font-weight-bold">Name</th>
              <th class="font-weight-bold">Age</th>
              <th class="font-weight-bold">Action</th>
            </thead>

            <tbody *ngFor="let s of users; index as i">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
                <td class="font-weight-bold">{{i+1}}</td>
              <td class="font-weight-bold">{{s.name}}</td>
              <td class="font-weight-bold">{{s.age}}</td>
              <td class="font-weight-bold">
                  <button class="btn btn-danger btn-sm" (click)="removeUser(s._id)">remove</button>
                  <button class="btn ml-2 btn-warning text-light btn-sm" (click)="getOneUser(s._id)" data-toggle="modal" data-target="#UserModal">update</button>
              </td>
            </tbody>

          </table>



    </div>

    <div class="card-footer">


    </div>

</div>

<div class="col-lg-6">



</div>

<router-outlet></router-outlet>
